body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

.titulo {
    margin: 10px 0;
}

.div-alternativas {
    text-align: center;
    border: solid 1px;
    border-radius: 8px;
    color: #000000;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.div-alternativas:hover {
    opacity: 0.95;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

a.link-voto:link {
    text-decoration: none;
}

.alternativa {
    font-size: 32px;
}

.div-footer {
    margin: 50px;
}

.footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.link-footer {
    text-decoration: none;
    color: #000000;
}


.lojas-cadastradas {
    margin: 20px auto;
}

.text-icon {
    vertical-align: bottom;
}


.icon {
  margin: 3px;
  float: right;
}

.edit-color {
  color: #13c43f;
}

.delete-color {
  color: #db1e47;
}