{% extends 'base.html' %}

{% block titulo %} Natal Home Center {% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html' %}
{% endblock %}

{% block content %}
    <h1 class="titulo-pesquisa">Estabelecimentos</h1>
    {% if estabeleciomentos|length == 0 %}
        <a class="menus-enquete" href="{% url 'cadastrar_estabelecimento' %}">
            <div class="card">
                <div class="card-body card-color">
                    <h3 class="card-title btn-text">
                        Cadastrar Estabelecimento
                    </h3>
                </div>
            </div>
            <br>
        </a>
    {% else %}
        {% for estabelecimento in estabeleciomentos %}
            <a class="menus-enquete" href="{% url 'listar_enquetes' estabelecimento.id %}">
                <div class="card">
                    <div class="card-body card-color">
                        <h3 class="card-title btn-text">
                            {{ estabelecimento.nome }}
                        </h3>
                    </div>
                </div>
                <br>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}