{% extends 'base.html' %}

{% block titulo %} Perguntas {% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card lojas-cadastradas">
            <h4 class="card-header">
                Perguntas
                <a href="{% url 'cadastrar_pergunta' %}" class="">
                    Adicionar Pergunta
                </a>
            </h4>
            <div class="card-body">
                {% for pegunta in perguntas %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5>{{ pegunta.pergunta_texto }} | {{ pegunta.data_pergunta|date:"d/m/Y" }}
                                <a href="{% url 'deletar_pergunta' pegunta.id %}">
                                    <span class="material-icons icon delete-color">
                                        delete
                                    </span>
                                </a>
                                <a href="{% url 'editar_pergunta' pegunta.id %}">
                                    <span class="material-icons icon edit-color">
                                        edit
                                    </span>
                                </a>
                            </h5>
                        </li>
                    </ul>
                    <th></th>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'components/_alert_js.html' %}
{% endblock %}