{% extends 'base.html' %}

{% block titulo %} Editar Estabeleciomento {% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card lojas-cadastradas">
            <h4 class="card-header">Editar Estabeleciomento</h4>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5>{{ form.as_p }}</h5>
                    </div>
                    <div class="div-button">
                        <button type="submit" class="btn btn-info">
                            Atualizar
                        </button>
                        <a class="btn btn-secondary" href="{% url 'cadastrar_estabelecimento' %}">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
