{% extends 'base.html' %}

{% block titulo %} Formulário - Estabeleciomento {% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-success" id="alert" role="alert" style="margin-top: 20px">
                <h3 class="message">{{ message }}</h3>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">
                <div class="card lojas-cadastradas">
                    <h4 class="card-header">Novo Estabeleciomento</h4>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <h5>{{ form.as_p }}</h5>
                            </div>
                            <div class="div-button">
                                <button type="submit" class="btn btn-primary">
                                    Cadastrar
                                </button>
                                <a class="btn btn-secondary" href="{% url 'listar_estabeleciomentos' %}">
                                    Cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card lojas-cadastradas">
                    <h4 class="card-header">Estabeleciomentos Cadastradas</h4>
                    <div class="card-body">
                        {% for estabelecimento in estabelecimentos %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5>{{ estabelecimento.nome }}
                                        <a href="{% url 'deletar_estabelecimento' estabelecimento.id %}">
                                            <span class="material-icons icon delete-color">delete</span>
                                        </a>
                                        <a href="{% url 'editar_estabelecimento' estabelecimento.id %}">
                                            <span class="material-icons icon edit-color">edit</span>
                                        </a>
                                    </h5>
                                </li>
                            </ul>
                            <th></th>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'components/_alert_js.html' %}
{% endblock %}