{% extends 'base.html' %}

{% block titulo %} Cadastrar Enquete {% endblock %}

{% block navbar %}
    {% include 'components/_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card lojas-cadastradas">
                    <h4 class="card-header">Nova Enquete</h4>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">

                            {% include 'components/forms/_form_enquete.html' %}

                            <div class="div-button">
                                <button type="submit" class="btn btn-primary">
                                    Cadastrar
                                </button>
                                <a class="btn btn-secondary" href="{% url 'gerenciar_lista_esquentes' %}">
                                    Cancelar
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% include 'components/_formset_js.html' %}
{% endblock %}